<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add an event for your dog!</title>
    <base href="/">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="create_event.css">
</head>
<body>
<div id="back_button">
    <a href="/users/dashboard" class="btn btn-lg btn-secondary">Go back</a>
</div>
<div id="header">
    <h2>What would you like to add for your dog?</h2>
</div>
    <div id="events">
            <div class="card" style="width: 18rem;">
                <img src="/images/dog_food_event.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Food</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/images/dog-walker.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Walk/Potty</p>
                </div>
              </div>
          </div>
      </div>
</body>
</html>