
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/cover/">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Tan's CSS -->
    <base href="/">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="bootstrap.min.css">
  </head>
 <div class="jumbotron">
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header>
    <div class="inner">
      <h3 class="masthead-brand">DogApp</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="#">About Us</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Track your dog's bowels to make your life easier!</h1>
    <p class="lead">A simple app using Node, React, PostgreSQL, Express and Sequelize to track your dog's feeding pattern and bowel movements</p>
</main>
</div>
</div>

<div class="row" id="icon-row">
    <div class="col-lg-3" id="icon-item">
      <img class="bd-placeholder-img" width="140" height="140" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" src="images/dog_food.png"></img>
      <h2>Feeding schedule</h2>
      <p>Track when you feed your pet, how much you fed them and what they were fed</p>
    </div>
    <div class="col-lg-3" id="icon-item">
      <img class="bd-placeholder-img" width="140" height="140" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" src="images/dog_poop.png"></img>
      <h2>Bowel movements</h2>
      <p>Maintain an accurate record of your dog's bowel movements - no more second guessing if they pooped this morning or not</p>
    </div>
    <div class="col-lg-3" id="icon-item">
      <img class="bd-placeholder-img" width="140" height="140" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" src="images/dog_stetho.png"></img>
      <h2>Overall health</h2>
      <p>Use DogApp to maintain a record of your pet's overall health, attitude and wellbeing</p>
    </div>
  </div>

<div>
    <p class="lead">
      <a href="/users/login" class="btn btn-lg btn-secondary">Get Started</a>
    </p>

    <hr class="featurette-divider">
  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>A personal project by Tan Le-Dang</p>
    </div>
  </footer>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>