html, head, body {
    font-family: 'Roboto', sans-serif;
  }

* {
    background-color: white;
}

#displayarea {
    position: relative;
    width: 100%;
}

#events {
    width: 100%;
    margin: 50px 0 0 0;
    display: flex;
    justify-content: space-evenly;
    animation: slideIn 1s forwards;
    position: absolute;
    z-index: 0;
}

#events2container {
    height: auto;
    left: 2000px;
    position: absolute;
    width: 100%;
}

#events_food_wet_container {
    height: auto;
    position: absolute;
    width: 100%;
    left: 2000px;
}

#events2 {
    width: 100%;
    margin: 0 0 0 0;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    position: absolute;
}

#foodArrow {
    align-self: flex-start;
    margin: 20px 0 0 150px;
}  

#food_wet_arrow {
    align-self: flex-start;
    margin: 20px 0 200px 150px;
}

.backarrow:hover {
    cursor: pointer;
}

.card:hover {
    cursor: pointer;
    border-color:#fbd157;
    border-width: 4px;
    padding: 1px;
}

@keyframes slideIn {
    0% {
      transform: translateX(2000px);
    }
    100% {
      transform: translateX(0);
    }
}

.card, #header {
    text-align: center;
}

.card { 
    padding: 5px;
    box-shadow: 5px 5px 3px grey;
}

#back_button {
    margin: 10px 0 0 10px;
}

img {
    opacity: 1;
}